.masa-filosofilor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

/* Style for philosopher icons */
.philosopher-icon {
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 120px;
    background-color: #fff;
    border-radius: 50%;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    
}

/* .a{
    display: block;
    height: 100%;
} */
.pasta-icon {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("Resources/Images/pasta.png");
}

.pasta-icon.nietzsche{
    left: calc(50% - 180px); 
    top: 47%; 
    transform: translateY(-50%);
}

.pasta-icon.camus{
    left: calc(50% - 180px); 
    top: 47%; 
    transform: translateY(-50%);
}

.pasta-icon.freud{
    left: calc(50% - 180px); 
    top: 47%; 
    transform: translateY(-50%);
}

.pasta-icon.kant{
    left: calc(50% - 180px); 
    top: 47%; 
    transform: translateY(-50%);
}


.philosopher-icon.nietzsche {
    background-image: url('Resources/Images/icon_philosopher/Friedrich_Nietzsche.jpg');
    left: calc(50% - 320px); 
    top: 45%; 
    /* transform: translateY(-50%); */
}

.philosopher-icon.schopenhauer {
    background-image: url('Resources/Images/icon_philosopher/Arthur_Schopenhauer.png');
    left: calc(50% + 220px); 
    top: 45%; 
    /* transform:   translateY(-50%); */
}

.philosopher-icon.goethe {
    background-image: url('Resources/Images/icon_philosopher/Goethe.jpg');
    left: 60%; 
    top: calc(50% - 300px); 
    /* transform:     translateX(-50%); */
}

.pasta-icon.goethe{
    left: 54%; 
    top: calc(50% - 170px); 
    transform: translateX(-50%);
}

.philosopher-icon.camus {
    background-image: url('Resources/Images/icon_philosopher/albert_camus.jpg');
    left: 63%; top: calc(50% + 100px); 
    /* transform: translateX(-50%); */
}

.philosopher-icon.freud {
    background-image: url('Resources/Images/icon_philosopher/sigmund_freud.jpg');
    left: 36%; top: calc(50% + 100px); 
    /* transform: translateX(-50%); */
}

.philosopher-icon.kant {
    background-image: url('Resources/Images/icon_philosopher/imanuel_kant.jpg');
    left: 50%; top: calc(50% + 200px);
     /* transform: translateX(-50%); */
}

.philosopher-icon.spinoza {
    background-image: url('Resources/Images/icon_philosopher/baruch_spinoza.jpg');
    left: 40%; top: calc(50% - 300px); 
    /* transform: translateX(-50%); */
}

.pasta-icon.spinoza{
    left: 45%; 
    top: calc(50% - 170px); 
    transform: translateX(-50%);
}
/* Style for the circular table */


.masa{
    position: relative;
    width: 400px;
    height: 400px;
    border: 10px solid #252525;
    border-collapse: separate !important;
    border-radius: 70%;
    table-layout: fixed;
}

.masa .td{
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;   
}


/* Animation  */

.bounceY:hover {
    animation-name: bounceY;
    animation-timing-function: ease;
}
@keyframes bounceY {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}


.bounceX:hover {
    animation-name: bounceX;
    animation-timing-function: ease;
}
@keyframes bounceX {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(-20px); }
  100% { transform: translateX(0); }
}